/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #3A3A3A;
    --text-gray: #18191F;
    --background: #FFF;
}

.text-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;

}

.text-title2 {
    font-size: 1.75rem;
    font-weight: 600;
}

.text-title-box {
    color: var(--Text-gray);
    font-size: 1.75rem;
    font-weight: 500;
}

.btn-primary {
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* header style */
header {
    background-color: var(--background);
    width: 80%;
    margin: 20px auto;
}

nav h3 {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;

}

nav li {
    list-style-type: none;
    margin-right: 35px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.influencer-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
}


.influencer-title {
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;

}

.influencer-description {
    max-width: 500px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
}

.influencer-btn {
    display:inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 41px;

}

.influencer-btn i {
    font-size: 1.2rem;
}

.influencer-colum {
    position: relative;
}

.influencer-colum img {
    padding: 20px;
    width: 100%;
}

.influencer-colum .camera img {
    position: absolute;
    top: 0;
}

/* sponsors section */
.sponsors-container {
    width: 70%;
    margin: 20px auto;
}

.logos {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.logos img {
    padding-left: 30px;
}

/* popular collection */
.popular-collection-container {
    width: 70%;
    background: var(--background);
    margin: 80px auto;

}

.collection-title {
    color: var(--primary-color);
    text-align: center;
}

.collection-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.collection-image-container p {
    color: #787885;
    font-size: 0.8rem;
    font-weight: 700;
}

.collection-image-container i {
    font-size: 1.2rem;
}

.collection-image-container img {
    width: 100%;
}


.image-1 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-1 img {
    border-radius: 5px;
}

.image-2 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-2 img {
    border-radius: 5px;
}

.image-3 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-3 img {
    border-radius: 5px;
}

.image-4 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-4 img {
    border-radius: 5px;
}

.image-5 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-5 img {
    border-radius: 5px;
}

.image-6 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-6 img {
    border-radius: 5px;
}

.image-7 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-7 img {
    border-radius: 5px;
}

.image-8 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-8 img {
    border-radius: 5px;
}

.image-9 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.image-9 img {
    border-radius: 5px;
}

.popular-collection-container h6 {
    text-align: end;
    padding: 10px 0;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
}

/* featured-product-container */
.featured-product-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.featured-image img {
    border-radius: 7px;

}

.featured-title {
    text-align: left;
}

.featured-content .featured-description {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 0;
}

/* footer section */
.footer {
    background: #0A0826;
    height: 250px;
    padding: 50px 0;
}

.footer-title {
    color: #FFF;
    text-align: center;
}

.footer-description {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.footer .icon {
    color: #D9DBE1;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

.footer .icon i {
    padding: 0 10px;
    
}




/* tablet or ipads responsive */
@media screen and (max-width :972px) {
    header, .sponsors-container, .popular-collection-container, .featured-product-container {
        width: 100%;
    }
    .logos {
        flex-wrap: wrap;
    }
    .collection-image-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-product-container {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .featured-content, .featured-title {
        text-align: center;
        padding: 0 10px;
    }
    
    
    
}



/* mobile device responsive*/
@media screen and (max-width:576px) {
    header {
        width: 100%;
        padding: 20px;
    }
    
   nav {
       flex-direction: column;
   }
   nav > ul {
    justify-content: flex-start;
   }
   nav li {
    margin-right: 20px;
   }
   .influencer-container, .featured-product-container {
    flex-direction: column-reverse;
   }

   .influencer-colum img {
    padding: 50px;
   }

   .influencer-title, .influencer-description {
    text-align: center;
   }
   .influencer-colum1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsors-container, .popular-collection-container, .featured-product-container {
    width: 100%;
    padding: 0;
}

.logos {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.collection-image-container {
    grid-template-columns: repeat(1, 1fr);
}
.featured-product-container {
    gap: 40px;
}
.featured-content, .featured-title {
    text-align: center;
    padding: 0 10px;
}

}